<template name="ipfsInfo">
  {{#if TemplateVar.get "loading"}}
    <p>Loading...</p>
  {{else}}
    {{#if isUpdatable}}
      <div class="row right-align">
        {{#if TemplateVar.get "updating"}}
          <p class='teal-text'>Updating Metadata...</p>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        {{else}}
          <div class="btn teal edit-metadata">Edit Metadata</div>
        {{/if}}
      </div>
    {{/if}}

    <div class="clearfix"></div>
    {{#with TemplateVar.get "metadata"}}
      {{> UI.contentBlock .}}
    {{else}}
     <p>Couldn't fetch data.</p>
    {{/with}}

  {{/if}}
</template>
