<template name="market">
  {{#if TemplateVar.get "deploying"}}
    <div class="row">
      <p class='teal-text'>Deploying New Product Contract...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  {{else}}
    <div class="left btn orange new-product">New Product</div>
  {{/if}}
  {{#ipfsInfo config=marketInfo}}
    <h3>
      {{title}} <br> <small>{{address}}</small>
    </h3>
    {{#markdown}}{{description}}{{/markdown}}
  {{/ipfsInfo}}
  <ul class="collection">
    {{#each products}}
      <li class="collection-item avatar">
        {{#ipfsInfo config=.}}
          <img src="{{image}}" alt="" class="circle">
          <div class="title">
            <a href="/market/{{marketAddress}}/{{../address}}" class="href">
              {{title}}
              <br>
              <small>{{../address}}</small>
            </a>
          </div>
          {{#markdown}}{{description}}{{/markdown}}
          <div class="secondary-content"><i class="material-icons">{{icon}}</i></div>
        {{/ipfsInfo}}
      </li>
    {{else}}
      <p class='flow-text center-align'>No products listed</p>
    {{/each}}
  </ul>
</template>

<template name="marketInfoForm">
  <form>
    <div class="row">
      <div class="col input-field s12">
        <input name="title" type="text" class='validate' placeholder="Market Name" value="{{title}}" required>
        <label for="name" class='active'>Market Name</label>
      </div>
    </div>
    <div class="row">
      <div class="col input-field s12">
        <textarea name="description" class="materialize-textarea  validate" placeholder="Description" required>{{description}}</textarea>
        <label for="description" class='active'>Description - Markdown Supported</label>
      </div>
    </div>
  </form>
</template>


