<template name="marketInfo">
  {{#if TemplateVar.get "loading"}}
    <p>Loading...</p>
  {{else}}
    {{#if userIsOwner}}
      <div class="row">
        {{#if TemplateVar.get "updating"}}
          <p class='teal-text center aligned'>Updating Market Metadata...</p>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        {{else}}
          <div class="btn teal edit-metadata">Edit Market Metadata</div>
        {{/if}}
      </div>
    {{/if}}

    {{#if TemplateVar.get "metadata"}}
      {{#with TemplateVar.get "metadata"}}
        <h3>
          {{title}} <br> <small>{{address}}</small>
        </h3>
        {{#markdown}}{{description}}{{/markdown}}
      {{/with}}
    {{else}}
      <p>Couldn't fetch market metadata.</p>
    {{/if}}

  {{/if}}
</template>

<template name="marketInfoForm">
  <form>
    <div class="row">
      <div class="col input-field s12">
        <input type="text" name="title" class='validate' placeholder="Market Name" value="{{title}}" required="" aria-required="true">
        <label for="name" class='active'>Market Name</label>
      </div>
    </div>
    <div class="row">
      <div class="col input-field s12">
        <textarea name="description" class="materialize-textarea  validate" placeholder="Description (Markdown)" required="" aria-required="true">{{description}}</textarea>
        <label for="description" class='active'>Description - Markdown Supported</label>
      </div>
    </div>
  </form>
</template>