<template name="product">
  <br>
  <div class="left btn grey back">Back</div>
  {{#ipfsInfo config=ipfsInfoConfig}}
    <div class="row">
      <div class="col m4 s12">
        <img src="{{image}}" alt="" class="circle responsive-img">
      </div>
      <div class="col m8 s12">
        {{#if icon}}
          <i class="right large material-icons">{{icon}}</i>
        {{/if}}
        <h1>{{title}}</h1>
        <h4>{{address}}</h4>
        {{#markdown}}{{description}}{{/markdown}}
      </div>
    </div>
  {{/ipfsInfo}}
</template>

<template name="productInfoForm">
  <form>
    <div class="row">
      <div class="col input-field s12">
        <input name="title" type="text" placeholder="Product Name" value="{{title}}" required>
        <label for="name" class='active'>Product Name</label>
      </div>
    </div>
    <div class="row">
      <div class="col input-field s6">
        <input name="image" type="text" placeholder="Image URL" value="{{image}}" required>
        <label for="name" class='active'>Image</label>
      </div>
      <div class="col input-field s6">
        <input name="icon" type="text" placeholder="Materialize Icon" value="{{icon}}" required>
        <label for="name" class='active'><a href="http://materializecss.com/icons.html" target="_blank">Materialize</a> Icon</label>
      </div>
    </div>
    <div class="row">
      <div class="col input-field s12">
        <textarea name="description" class="materialize-textarea" placeholder="Description" required>{{description}}</textarea>
        <label for="description" class='active'>Description - Markdown Supported</label>
      </div>
    </div>
  </form>
</template>